#juego{
    background-color: #999999;
}
body{
    height: 100vh;
    background-color: #999999;
}
#puntuaciones{
    display: none;
}
#medico{
    position: absolute;
}
#pared{
    background-image: url("../img/fondo/pared-patron.jpg");
    background-repeat: repeat-x;
    background-size: 130px;
    height: 90px;
}