html, body{
    height: 100vh;
    background-color: #999999;
    margin: 0;
    overflow: hidden;
}
#puntuaciones{
    display: none;
}
#medico{
    position: absolute;
    top: 50%;
    left: 10%;
    width: 25px;
    height: 45px;
}
.paredHorizontal{
    position: absolute;
    background-image: url("../img/fondo/pared-patron.jpg");
    background-repeat: repeat-x;
    background-size: 130px;
    height: 10px;
}
.paredVertical{
    position: absolute;
    background-image: url("../img/fondo/pared-patron.jpg");
    background-repeat: repeat-y;
    background-size: 130px;
    width: 10px;
    height: 99%;
}
.pilar{
    position: absolute;
    background-image: url("../img/fondo/pared-patron.jpg");
    background-repeat: repeat;
    background-size: 130px;
    width: 50px;
    height: 50px;
}
.enemigo{
    position: absolute;
    width: 35px;
    height: 40px;
    left: 20px;
    top: 20px;
}
@font-face {
    font-family: fuente_pixel;
    src: url(Symtext.ttf);
  }
#alerta{
    position: absolute;
    top: 10%;
    font-family: fuente_pixel;
    width: 100%;
    text-align: center;
    font-size: 20px;
}
#vida{
    display: none;
    position: absolute;
    top: 50%;
    font-family: fuente_pixel;
    width: 100%;
    text-align: center;
    font-size: 50px;
    color: red;
}
#bala{
    position: absolute;
    display: none;
    width: auto;
    height: auto;
}
.jeringuilla-horizontal{
    position: absolute;
    width: 30px;
    height: auto;
}
.jeringuilla-vertical{
    position: absolute;
    width: auto;
    height: 30px;
}